/*PÁGINA PRINCIPAL*/

    /*Header*/

.header_gral {
    background-image: url(./media/celular.png);
    background-size:cover;
    height: 700px;}
    
    /*Opciones*/
.item_opciones {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;}

.img_opciones {
    width: 45%;}

.text_opciones{
    font-family: special elite;
    font-size:19px;
    font-weight: bold;
    text-align: center;
    width: 55%;}

    /*Diseños*/

.disenosdisponibles {
    width: 50%;}

.text_modelos {
    font-family: caveat;
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;}

.img_disenos_gral {
    width: 40%;
    transition: 2s;}

    .img_disenos_gral:hover {
        width: 50%;}

        /*Seccion video*/

.text_video {
    font-family: special elite;
    font-size: large;
    text-align: center;
    width: 75%;}


 
 /*PRECIO*/

.cont_precio {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 5px 10px grey;}

.cont_precio p {
    text-align: center;
    margin: 10px 20px 0px 20px;
    font-family: special elite;}

.btn_precio {
    border-radius: 20px;
    border: none;
    font-family: caveat;
    font-size:medium;
    padding: 0px 10px 0px 10px;
    box-shadow: 1px 1px 2px grey;
    margin: 15px 0px 15px 0px;}


    /*FOOTER*/

.section_footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.sec_foot {
    font-size:small;
    text-align: start;
    padding-top: 20px;}

.logo_footer{
    height:95px;}

.icon_footer {
    height: 30px;}
    
    .mail_footer:link {
        text-decoration: none;
        color: black;}
    .mail_footer:visited {
        text-decoration: none;
        color: black;}
    .section_footer a:link {
        text-decoration: none;
        color: black;}
    .section_footer a:visited {
        text-decoration: none;
        color: black;}
    



/*PÁGINAS DE EJEMPLOS*/

.disenos_disponibles {
    width: 80%;
    margin: 30px;}

.img_disenos {
    height: 190px;
    background-position: center;
    background-size: cover;
    transition: 2s;
    border: solid 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

/*bodas*/
    .diseno-b1 {
        background-image: url(./media/fotografica.png);}
    .diseno-b2 {
        background-image: url(./media/eucalipto.png);}
    .diseno-b3 {
        background-image: url(./media/floral.png);}
    .diseno-b4 {
        background-image: url(./media/festiv.png);}

/*graduaciones*/
    .diseno-g1 {
        background-image: url(./media/fotografica.png);}
    .diseno-g2 {
        background-image: url(./media/eucalipto.png);}
    .diseno-g3 {
        background-image: url(./media/floral.png);}
    .diseno-g4 {
        background-image: url(./media/festiv.png);}

/*cumpleaños*/
    .diseno-c1 {
        background-image: url(./media/festiv.png);}
    .diseno-c2 {
        background-image: url(./media/eucalipto.png);}
    .diseno-c3 {
        background-image: url(./media/floral.png);}
    .diseno-c4 {
        background-image: url(./media/festiv.png);}

    .img_disenos:hover {
        filter:grayscale(100%);
        transition: 3s;}    

.btn_transparente {
    height: 100%;
    width: 100%;
    border: none;}

.text_ejemplos {
    margin-top: 35px;
    font-family: special elite;
    font-size: x-large;}

    /*MODAL'S PRECIOS*/

.precio_gral {
    width: 80%;
    height: 250px;}

@media (min-width:768px) {
    .img_disenos_gral {
        width: 75%;}
        .img_disenos_gral:hover {
            width: 85%;}
    .disenosdisponibles {
        width: 25%;}
    .header_gral{
        height: 600px;}}
        



